
<div mat-dialog-content>
  <p>Add simple code : <code>{{data.animal}}</code>  </p>
  <mat-form-field class="test">
    <mat-label></mat-label>
    <input matInput [(ngModel)]= "data.animal">
<!--    <input matInput  [(ngModel)]="questionData.title" [ngModelOptions]="{standalone: true}" >
-->
  </mat-form-field>
  
</div>

<mat-chip color="red" selected >
  {{data.animal}}</mat-chip> 

<!--

  <button (click)="changeStyle()"><span class="material-icons">
    code
    </span></button>
  <md-editor name="Content1" [ngModel]="content1" mode="" [options]="options"></md-editor>

  <ejs-richtexteditor id='rteForm' #fromRTE height='250px' [formatter]='formatter'[formControl]="desQuestion"
                                  [toolbarSettings]='tools' [editorMode]='mode' (created)='onCreate()' [(ngModel)]="htmlContent">
                              </ejs-richtexteditor>
<md-editor name="Content" [preRender]="preRenderFunc" [(ngModel)]="content" [height]="'200px'"
   [mode]="mode" required maxlength="500"></md-editor><div mat-dialog-actions>-->
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
