
<div class="dash" style="padding-right: 20px;">

   
<div class="card" style="width: 18rem; margin-right: 30px;">
    <img class="card-img-top" src="https://as2.ftcdn.net/jpg/03/07/47/79/500_F_307477935_TgRybpcXe0lyyhLYXs898EDNFbYGlti5.jpg" alt="Card image cap">
    <div class="card-body">
        <mat-toolbar >
            <mat-icon style="color: black;  " class="material-icons">settings</mat-icon><span class="navigation-item-label">ROLE</span>
         </mat-toolbar>
      <p class="card-text" style="border-radius: 20px;">
         {{' Gérer les roles des utilisateurs en lui affectants un nombre de permission.'|translate}}
        </p>
     <button class="btn btn"  routerLink="/dashboard" >Role</button>
    </div>
  </div>



  <div class="card" style="width: 18rem;margin-right: 30px;">
    <img class="card-img-top" src="https://image.freepik.com/photos-gratuite/mains-tenant-tablette-icones_1134-90.jpg" alt="Card image cap">
    <div class="card-body">
        <mat-toolbar>
            <mat-icon style="color: black;" class="material-icons">person</mat-icon><span class="navigation-item-label">{{'UTILISATEUR'|translate}}</span>

        </mat-toolbar>
         
      <p class="card-text">
         
Gérer les utilisateurs de l'application selon les roles que vous avez définis        </p>
      <button class="btn btn"routerLink="/User">{{'Utilisateur'|translate}}</button>

    </div>
  </div>


 
 
  <div class="card" style="width: 18rem; margin-right: 20px;">
    <img class="card-img-top"
     src="https://as1.ftcdn.net/jpg/00/26/71/46/500_F_26714641_kzYRR71YWLncZ8cFwdYjtzoAfM0H3Pwe.jpg" alt="Card image cap">
    <div class="card-body">
        <mat-toolbar> <mat-icon style="color: black;" class="material-icons">developer_board</mat-icon><h3>QCM</h3></mat-toolbar>

      <p class="card-text">
          Partager des QCMs,inviter vos collègues pour faire la validation.
          C'est enrechissant! 
        </p>
      <button class="btn btn"routerLink=" ">Qcm</button>

    </div>
  </div>


  <div class="card" style="width: 18rem; margin-top: 20px;">
    <img class="card-img-top" src="https://image.freepik.com/vecteurs-libre/composition-elements-infographiques-isometriques-telemedecine-appareils-portables-intelligents_1284-27111.jpg" alt="Card image cap">
    <div class="card-body">
        <mat-toolbar> <mat-icon style="color: black;" class="material-icons">developer_board</mat-icon><h3>TEST</h3></mat-toolbar>

      <p class="card-text">
        Préparer vos Tests a partir des qcms préparés dans des domaines de votre choix       </p>
      <button class="btn btn"routerLink=" ">Test</button>

    </div>
  </div>
</div>

