ul li {

    list-style:none ;
    display: inline;

  }
  .tool {
    margin-left: 700px;
  }
  .toolbar {
  
    background: linear-gradient(60deg,#ece9e3,#f0ac59);
  background-color: rgb(243, 225, 166)
  }
  img { width: 30px;
    height: 30px;
 
   border-radius: 50%;
  
}