<div class="card">

  <div style="padding-left: 630px">
  </div>

  <mat-card >
    <ul fxLayoutGap="75%">
      <span style="  font-size: 17px;">
        <strong style="color: white;">{{'Ajouter Utilisateur'|translate}}</strong>
      </span>



      <button mat-icon-button style="margin-left: 410px;" (click)="onNoClick()">
        <mat-icon style="color: white;">cancel</mat-icon>
      </button>
    </ul>
  </mat-card>





  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content style="margin-top: 20px;">

      <tr>
        <td style="width: 40%;">
          <mat-form-field>
            <mat-label>{{ 'Username' |translate}}</mat-label>
            <input formControlName="username" matInput placeholder="Username" [formControl]="usernameControl"
              [(ngModel)]="username" required>
            <mat-error *ngIf="usernameControl.hasError('required')">
              {{ 'Username est requis' |translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'Firstname' |translate}}</mat-label>
            <input formControlName="firstname" matInput placeholder="Firstname" [formControl]="firstnameControl"
              [(ngModel)]="firstname" required>
            <mat-error *ngIf="firstnameControl.hasError('required')">
              {{ 'Firstname est requis' |translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'Lastname' |translate}}</mat-label>
            <input formControlName="lastname" matInput placeholder="Lastname"  [formControl]="lastnameControl"
              [(ngModel)]="lastname" required>
            <mat-error *ngIf="lastnameControl.hasError('required')">
              {{ 'Lastname est requis' |translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>

            <mat-label>{{'Email'|translate}}</mat-label>
            <input formControlName="email" matInput placeholder="pat@example.com" [formControl]="emailControl"
              [(ngModel)]="email" required>
            <mat-error *ngIf="emailControl.hasError('required')">
              **************
            </mat-error>


          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'Password' |translate}}</mat-label>
            <input formControlName="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
              [formControl]="passwordControl" [(ngModel)]="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            
            <mat-error *ngIf="passwordControl.hasError('required')">
              {{ 'Password est requis'|translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin-left: 120px;">
            <mat-label>{{ 'Role' |translate }} </mat-label>
            <mat-select [formControl]="RoleControl" [(ngModel)]="selectedValue">

              <mat-option *ngFor="let role of roles ;let j = index" [value]="role.id">
                {{ role.name | translate }}
              </mat-option>

            </mat-select>
            <mat-error *ngIf="RoleControl.hasError('required')">
              {{ 'Role est requis' |translate }}
            </mat-error>
          </mat-form-field>
        </td>

      </tr>

    </div>
    <div mat-dialog-actions>
      <button type="submit" class="btn"  >{{'Ajouter'|translate}}</button>
      <button type="submit" class="btn"  (click)="onNoClick()">{{'Annuler'|translate}}</button>

    </div>
  </form>
</div>