
<div class="card" style="padding-top: 0px; 

 background-color: white; 
 border-top-width: 0px; 
 border-bottom-width: 0px;
 background-image: url('http://www.groupe-telnet.com/sites/default/files/sites/default/files/media-photo/Telnet-Sfax-267.jpg');"
 
 >
  
    <div style="padding-left: 630px">
      
    </div>
    <mat-card style=" margin: 0 20px;margin-top: -20px; background: linear-gradient(60deg,#f5b14c,#fb8c00);
    ">
      <ul fxLayoutGap="75%" >
      <span style="  font-size: 17px;">
       <strong style="color: white;">{{ 'Consulter détails' |translate }}</strong> 
       <button mat-icon-button style="margin-left: 410px;" (click)="onNoClick()" >
        <mat-icon  style="color: white;">cancel</mat-icon>
        </button>
  
      </span>
      </ul>
    </mat-card>
    <div class="container" style="margin-right: 0px;">
      <div class="row" style="margin-right: -2000px;">
        <div class="col-lg-3 col-sm-6" style="margin-right: 10px ;">
    
                <div class="card hovercard">
                    <div class="bb" style="background-color : rgb(247, 247, 247) ;margin-top: 250px;">
                    <div class="avatar" >
                        <img alt="" src="http://lorempixel.com/100/100/people/9/">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="https://scripteden.com/"> {{ local_data.firstname | translate}}</a>
                        </div>
                        <strong><div class="desc"> {{ local_data.lastname | translate}}</div></strong>
                        <strong> <div class="desc"> {{ local_data.email | translate}}</div></strong>
                        <strong> <div class="desc"> {{ local_data.role.name | translate}}</div></strong>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fa fa-google-plus"></i>
                          </a>
                          <a class="btn btn-primary btn-sm" rel="publisher"
                             href="https://plus.google.com/shahnuralam">
                              <i class="fa fa-facebook"></i>
                          </a>
                          
                         
                      </div>
                  </div>
      
              </div>
            </div>
        </div>
      </div>
   
  </div>
