
<div class="sidebar" >

<div class="logo">
  
<div class="simple-text" style="    background-image: linear-gradient(100deg,#ece9e3,#f0ac59);
">  
  
      <img style="margin-left: 20px;"  src="https://media-exp1.licdn.com/dms/image/C4E0BAQHEew4pj8ZsuA/company-logo_200_200/0?e=2159024400&v=beta&t=QheJ6PLcxG9wn95AiWaBEoqiODnT0qHtexYJjW6WdeM">
      <strong style="color: rgb(46, 43, 43); margin-left: 20px;font-style: italic; font-weight:900;">TelnetQcm</strong> 
</div> 
  
  </div>
  




  <div class=".sidebar .logo:after">
  <mat-nav-list >
  
      <a  style="color: black;" class="navigation-item" mat-list-item routerLink="/dash" routerLinkActive="active">
          <mat-icon  class="material-icons">dashboard</mat-icon><span class="navigation-item-label">{{ 'Dashboard' |translate }}</span>
        </a>
        <a style="color: black;"  class="navigation-item" mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon style="color: black;" class="material-icons">settings</mat-icon><span class="navigation-item-label">Roles</span>
        </a>
        <a style="color: black;" class="navigation-item" mat-list-item routerLink="/User" routerLinkActive="active">
          <mat-icon style="color: black;" class="material-icons">person</mat-icon><span class="navigation-item-label">{{'Utilisateurs'|translate}}</span>
        </a>

       

        <a style="color: black;"  class="navigation-item" mat-list-item routerLink="/add" routerLinkActive="active">
          <mat-icon style="color: black;" class="material-icons">person</mat-icon><span class="navigation-item-label">{{'Roles'|translate}}</span>
        </a>
        
        <a style="color: black;"  class="navigation-item" mat-list-item routerLink="/update" routerLinkActive="active">
          <mat-icon style="color: black;" class="material-icons">developer_board</mat-icon><span style="color: black;" class="navigation-item-label">Roles</span>
        </a>
        <a style="color: black;"  class="navigation-item" mat-list-item routerLink="/clientslist" routerLinkActive="active">
          <mat-icon style="color: black;" class="material-icons">assignment_ind</mat-icon><span class="navigation-item-label">Roles</span>
        </a>
        <a style="color: black;"  class="navigation-item" mat-list-item routerLink="/clientslist" routerLinkActive="active">
          <mat-icon style="color: black;" class="material-icons">assignment_ind</mat-icon><span class="navigation-item-label">Roles</span>
        </a>
    
 
  </mat-nav-list>
</div>
</div>