<div class="box" style=" margin-top: 50px; margin-bottom: 30px;border-radius: 5px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;">
  <div class="tab" style="padding-top: 30px;">
    <mat-card class="aa" style=" padding: 20px; ">
      <ul fxLayoutGap="75%">
        <span style=" color: white; font-size: 17px;">
          <strong> {{ 'Ajouter Qcm'|translate }}</strong>
          <button style="color: white;" mat-stroked-button *ngIf="AjouterRole"
            (click)="openDialog()">{{ 'Ajouter'|translate }}</button>
        </span>
      </ul>
    </mat-card>
  </div>
  <div class="qcm" style="margin-left: 40px;">
    <div class="row">
      <div class="card" style="margin-top: 10px; margin-left: 5px;margin-right: 5px; width: 1000px;">
        <form [formGroup]="messageForm"  >

          <div class="card" style="margin-top: 20px;margin-left: 5px;margin-right: 5px;">
            <div class="card-body" style="height: 83px;">
              <div class="row">
                <div class="col">
                  <mat-form-field style="margin-top: -30px; margin-left: 110px;">
                       <mat-label>{{ 'Domaine'| translate }} </mat-label>
                       <mat-select [formControl]="domainControl" [(ngModel)]="questionData.selectedValue">
                         <mat-option *ngFor="let domaine of domaines ;let j = index" [value]="domaine.id">
                           {{ domaine.name }}
                         </mat-option>
                       </mat-select>
                       <mat-error *ngIf="domainControl.hasError('required')">
                         {{ 'Domaine est requis' |translate }}
                       </mat-error>
                     </mat-form-field></div>
                     <div class="col">
                      <mat-form-field style="width: 200px; margin-top: -30px; margin-left: 58px;">
                      <mat-label >Sous Domaine</mat-label>
                      <input formControlName="subDomain" matInput placeholder="Sub_Domain" [formControl]="subDomainControl" 
                      [(ngModel)]="questionData.sub_domain" required>
                      <mat-error *ngIf="subDomainControl.hasError('required')">
                        {{ 'Sous domaine est requis' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                <div class="col">
                  <mat-form-field style="width: 200px; margin-top: -30px;">
                  <mat-label >Titre</mat-label>
                  <input formControlName="title" matInput placeholder="Title" [formControl]="titleControl" 
                  [(ngModel)]="questionData.title" required>
                  <mat-error *ngIf="titleControl.hasError('required')">
                    {{ 'titre est requis' |translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              
                </div>

            </div>
            </div>
           
          <div style="margin-top: 15px;margin-right: 7px;margin-left: 7px;">
            <tinymce formControlName="question" [(ngModel)]="questionData.question_body.question" [formControl]="questionControl" 
             [config]="config"></tinymce>
            <mat-error *ngIf="questionControl.hasError('required')">
              {{ 'Question est requis' |translate }}
            </mat-error>
<!--
              <ejs-richtexteditor  formControlName="question"  id='rteForm' #fromRTE height='250px' [formatter]='formatter'
              [formControl]="questionContr"
          [toolbarSettings]='tools' [editorMode]='mode' (created)='onCreate()' [(ngModel)]="htmlContent">
      </ejs-richtexteditor>
      <mat-error *ngIf="questionContr.hasError('required')">
        {{ 'Question est requis' |translate }}
      </mat-error>
-->
          </div>
         
         
          <div class="card" style="margin-top: 10px;margin-left: 5px;margin-right: 5px;">
            <div class="card-body">


            

             <mat-label>Réponses</mat-label>
           
             <button (click)="addOptions()" style="margin-left: 20px;" ><i class="fa fa-plus" aria-hidden="true"  matTooltip="add Response"></i>
             </button>
         
         <div style="margin-left: 20px;">
             <div *ngFor="let response of questionData.question_body.responses ; let i = index">
             
              <div class="row" style="padding-top: 20px;" >
                <div class="col-sm">
                  
                 
                  <mat-form-field class="test"    style="width: 470px;">
                  <mat-label>Reponses {{i}} : </mat-label>  
              
                  <input matInput  name="label{{i}}" [(ngModel)]="response.label" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
                </div>
                <div class="col-sm">

               <mat-form-field >
                 
                <mat-label> Simple code  : </mat-label> 
                  <input matInput  name="code{{i}}" [(ngModel)]="response.code" [ngModelOptions]="{standalone: true}" >
                  <i class="fa fa-code" matSuffix ></i>
                </mat-form-field>


             <!--    <li *ngIf="animal">
                  Code: <i>{{animal}}</i>
                </li>
                <button (click)="openDialog()" style="margin-left: 20px;" ><i class="fa fa-code" aria-hidden="true" matTooltip="simple code"></i>
                </button>-->
               </div>
               <div class="col-sm">
                 <mat-form-field style="    width: 100px;">
                  <mat-label>Sectionner une option</mat-label>
                  <mat-select disableRipple   [(ngModel)]="response.correct" [ngModelOptions]="{standalone: true}">
                    <mat-option value="true">True</mat-option>
                    <mat-option value="false">False</mat-option>
                  </mat-select>
                </mat-form-field>
                  <button (click)="removePhone(i)" style=" margin-left: 20px;
                  margin-top: 14px;"><i class="fa fa-trash" aria-hidden="true" matTooltip="delete" ></i>
                </button>
              </div>
             
            
            </div>
          </div>
        </div>
            <br>
            <br> 
             
            </div>
          </div>

         




          <div class="row">
            <div class="col">
            </div>
            <div class="col-5">
              <div mat-dialog-actions
 style="flex-wrap: nowrap; margin-left: 60px;margin-top: 7px; margin-bottom: 7px;">
                <button class="btn" (click)="openDialog1()" 
                 cdkFocusInitial>{{'Aperçu' |translate}}</button>
                <button class="btn" (click)=" addQ()">{{'Ajouter'|translate}}</button>

                <button class="btn" type="reset" ejs-button (click)="messageForm.reset()">{{'Annuler'|translate}}</button>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  

  
  
 <!-- <code>{{messageForm.value | json}}</code>

  <div *ngFor="let response of getPhonesFormControls(); let i = index">
    <div [innerHTML]="messageForm.value.label"></div>
  </div> 
<div [innerHTML]="messageForm.value.question"></div>
<div [innerHTML]="messageForm.value.label"></div>

-->

<!--

  <div [textContent]="interpolate(['Question'], [messageForm.value.question])">
</div>
<pre>{{treeControl.dataNodes.length}}</pre>
  <pre>{{dataSource.data | json}}</pre>
 
  
  <pre>{{treeControl.dataNodes.length}}</pre>
  <pre>{{dataSource.data | json}}</pre>

  <code>ddd</code>
 
 <ejs-richtexteditor id='rteForm' #fromRTE height='250px' [formatter]='formatter'[formControl]="desQuestion"
                                  [toolbarSettings]='tools' [editorMode]='mode' (created)='onCreate()' [(ngModel)]="htmlContent">
                              </ejs-richtexteditor>  -->
                             
        
