table {
    
    width: 100%;
  }
  
  
  
  .btn.disabled, .btn:disabled {
   opacity: 1; 
  }
  .tab {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 120px;
    margin-top: 0px;
    padding-top: 30px;
  
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  .box {
    margin-top: 50px; margin-bottom: 30px;border-radius: 5px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
  }
  
  .bb {
     
    position: absolute; 
    margin-left: 570px; 
    margin-top: 17px;
  }
  .color1{
    color:red;
  }
  .color2{
    color:dimgray;
  }
  .mat-dialog-title{
    
    color:steelblue;
    padding-top: 20px;
   
  }
  [hidden] 
  { display: none !important;}
  
  
  .hh{
    color:#ff9800!important;
  }