<div class="dash" style="padding-right: 20px;">

  <div class="card" style="width: 18rem; margin-right: 20px;">
 <!--   <img class="card-img-top"
   
    src="https://as1.ftcdn.net/jpg/00/26/71/46/500_F_26714641_kzYRR71YWLncZ8cFwdYjtzoAfM0H3Pwe.jpg" alt="Card image cap">
  --><div class="card-body">

      <p class="card-text">
          Partager des QCMs,inviter vos collègues pour faire la validation.
          C'est enrechissant! 
        </p>
      <button class="btn btn"routerLink="/qcmAdd">Qcm</button>

    </div>
  </div>
  <div class="card" style="width: 18rem; margin-right: 20px;">
   <div class="card-body">
   
         <p class="card-text">
             Partager des QCMs,inviter vos collègues pour faire la validation.
             C'est enrechissant! 
           </p>
         <button class="btn btn"routerLink="/qcmAdd">Qcm</button>
   
       </div>
     </div>
</div>