.nav-pills .nav-link.active, .nav-pills .show>.nav-link{    background-color: #f0bb7a;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    color: rgb(255, 255, 255);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
}

table {
    
    width: 100%;
  }

  

  .btn.disabled, .btn:disabled {
   opacity: 1; 
}
 .tab {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 120px;
    margin-top: 0px;
 

}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: -75px;
}
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  

  .color1{
    color:red;
  }
  .color2{
    color:dimgray;
  }
  .mat-dialog-title{
    
    color:steelblue;
    padding-top: 20px;
   
  }
  [hidden] 
  { display: none !important;}
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  